Dockerfile
docker-compose.yml

env/
.DS_Store

Readme.md
*.sqlite3
*.sqlite
*__pycache__
*/migrations/

core/static/
core/media/

aws_deploy_setup.md
aws_notes.md
aws_s3_setup.md
guardilopu_notes.md
settings_options.md
docker_notes.md